body {
  font-family: Inter, sans-serif;
  font-weight: 300;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  padding: 12px;
}
a {
  color: var(--figma-color-text-brand);
}

.plugin-divider {
  display: block;
  border: none;
  border-bottom: solid 1px var(--figma-color-border);
  margin: 20px 0;
}

.plugin-note {
  display: flex;
  align-items: center;
  gap: 12px;
}
.plugin-note > svg {
  color: var(--figma-color-text-secondary);
  display: flex;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.plugin-note > p {
  color: var(--figma-color-text-secondary);
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
}

.node-design-ui {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: nowrap;
}
.node-design-ui.--with-textarea {
  width: 100%;
  margin-bottom: 12px;
}
.node-design-ui__textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
}
.node-design-ui__number {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
}
.node-design-ui__number > label,
.node-design-ui__textarea > label {
  display: inline-block;
  width: 88px;
  flex-shrink: 0;
  color: var(--figma-color-text-secondary);
  font-size: 0.7rem;
}
.node-design-ui__number > p,
.node-design-ui__textarea > p {
  display: inline-block;
  color: var(--figma-color-text-primary);
  font-size: 0.7rem;
}

.button-action {
  margin-top: 20px;
  font-size: 0.7rem;
  width: 100%;
  padding: 12px 8px;
  border-radius: 5px;
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-onbrand);
  border: solid 1px var(--figma-color-border-onbrand);
  cursor: pointer;
}
.button-action:hover {
  background-color: var(--figma-color-bg-brand-hover);
  color: var(--figma-color-text-onbrand);
  border: solid 1px var(--figma-color-border-onbrand);
}
.button-action:disabled {
  background-color: var(--figma-color-bg-disabled);
  color: var(--figma-color-text-disabled);
  border: solid 1px var(--figma-color-border-disabled);
  cursor: not-allowed;
}

input,
textarea {
  box-sizing: border-box;
  font-size: 0.7rem;
  color: var(--figma-color-text-primary);
  width: 100%;
  max-width: 100%;
  padding: 12px 8px;
  border: solid 1px transparent;
  border-radius: 2px;
  background: transparent;
}
textarea {
  font-family: Inter, sans-serif;
  border: solid 1px var(--figma-color-border);
  border-radius: 2px;
  padding: 8px;
}
input::placeholder,
textarea::placeholder {
  color: var(--figma-color-text-tertiary);
}
input:hover,
textarea:hover {
  border: solid 1px var(--figma-color-border);
}
input:focus,
textarea:focus {
  outline: solid 2px var(--figma-color-border-selected);
}
input:disabled,
textarea:disabled {
  color: var(--figma-color-text-disabled);
  cursor: not-allowed;
}